.form {
  text-align: center;
  background-color: #f5f5f5;
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  color: #555555;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #f0cf15;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.button1 {
  color: white;
  background-color:#f0cf15;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button1:hover {
  background-color: #f0cf15;
  box-shadow: 0 0 10px rgba(0, 86, 179, 0.3);
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

.formTitle {
  font-size: 24px;
  margin-bottom: 20px;
}
#navbar{
  background-color: rgb(240, 207, 21);
  align-items: right;
  padding-left: 200px;
  
}